---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="こどもたちのミライへのために｜MIRAIDO">
	<section class="loading">
		<div class="bg"></div>
		<!-- end .bg -->
		<div class="container">
			<div class="text">
				<div class="main">熊野未来道</div>
				<div class="tagline">miraido</div>
				<!-- end .tagline -->
			</div>
			<!-- end .text-->
		</div>
		<!-- end .container -->
	</section>
	<!-- end .loading -->

	<Header isHome={true} />

	<section id="what" class="what">
		<div class="bg-image">
			<img src="/images/what-bg.jpg" alt="*" width="1600" height="1200" />
		</div>
		<!-- end .bg -->
		<div class="bg-color"></div>
		<!-- end .bg-color -->
		<div class="back"><p>"MIRAIDO"ってなに？</p></div>
		<!-- end .back -->
		<div class="container">
			<div class="mark-wrapper">
				<ul>
					<li class="mark">
						<p>AI<br />使われるな！<br />使い倒せ！</p>
					</li>
					<li class="mark">
						<p>Robotics<br />電気の波を<br />制御せょ！</p>
					</li>
				</ul>
				<ul>
					<li class="mark">
						<p>古に学ぶ道<br />未来に通ずる道<br />いざ進め！</p>
					</li>
					<li class="cg"><p>DO</p></li>
					<li class="mark">
						<p>
							宇宙は広い<br />海底も広い<br
							/>どちらも無限の可能性！
						</p>
					</li>
				</ul>
				<ul>
					<li class="mark">
						<p>
							教育格差<br />地域格差<br />IT/ICT利用<br />最大化！
						</p>
					</li>
				</ul>
			</div>
			<!-- end .mark-wrapper -->
			<div class="text">
				<h2>
					<div class="catch">
						古来の巡礼の道は<br /><br />宇宙へ羽ばたくミライ道へ
					</div>
					<!-- end .catch -->
				</h2>
				<div class="sentence">
					<p>
						そんな願いを込めて立ち上げたプロジェクトが『MIRAIDO（ミライ道・ミライ扉・ミライDo）』です
					</p>
					<p>”やる” か ”やらない" か　その選択の連続が人生です</p>
					<p>
						やらずに後悔するのも　やりきって達成感を得るのも　やってやらなきゃよかったと後悔するのも　やったけど物足りなさが残るのも　全てがその人の生き様で人生の糧となります。
					</p>
					<p>
						まだまだ自然の残る熊野の地でさえ　気候変動による影響はひしひしと感じます
					</p>
					<p>
						"もう遅い"　"まだ大丈夫"　そんな議論よりも　シンプルに　”やる”　か　”やらない”　かです
					</p>
					<p>さぁ、今すぐできることから始めましょう！</p>
					<p>【MIRAIDO】それは私たちの第一歩です</p>
				</div>
				<!-- end .sentence -->
			</div>
			<!-- end .text -->
		</div>
		<!-- end .text -->
	</section>
	<!-- end .container -->

	<!-- end .what -->

	<section id="works" class="works">
		<div class="bg">
			<img src="/images/works-bg.jpg" alt="*" width="" height="" />
		</div>
		<div class="title">
			<h3>
				<div class="catch">PROJECT</div>
				<!-- end .catch -->
			</h3>
			<h2>
				<div class="catch">熊野MIRAIDO Vol.1</div>
				<!-- end .catch -->
			</h2>
		</div>
		<div class="container">
			<div class="splide" aria-label="制作実績">
				<div class="splide-wrapper">
					<div class="splide__track">
						<ul class="splide__list">
							<li class="splide__slide">
								<div class="thumb">
									<img
										src="/images/WRO-2025_RoboSports.jpg"
										alt="*"
									/>
								</div>
								<!-- end .works-thumb -->
								<div class="text">
									<div class="category">
										<p>WRO Japan 2025</p>
									</div>
									<!-- end .category -->
									<h3>
										<div class="catch">RoboSports</div>
										<!-- end .catch -->
									</h3>
									<h4>
										<div class="catch">
											<span class="small"></span>
										</div>
										<!-- end .catch -->
									</h4>
								</div>
								<!-- end .text -->
							</li>
							<li class="splide__slide">
								<div class="thumb">
									<img
										src="/images/WRO-Elementary2025.jpg"
										alt="*"
									/>
								</div>
								<!-- end .works-thumb -->
								<div class="text">
									<div class="category">
										<p>WRO Japan 2025</p>
									</div>
									<!-- end .category -->
									<h3>
										<div class="catch">RoboMission</div>
										<!-- end .catch -->
									</h3>
									<h4>
										<div class="catch">
											エレメンタリー<span class="small"
												>（小学生部門）</span
											>
										</div>
										<!-- end .catch -->
									</h4>
								</div>
								<!-- end .text -->
							</li>
							<li class="splide__slide">
								<div class="thumb">
									<img
										src="/images/WRO-Junior2025.jpg"
										alt="*"
									/>
								</div>
								<!-- end .works-thumb -->
								<div class="text">
									<div class="category">
										<p>WRO Japan 2025</p>
									</div>
									<!-- end .category -->
									<h3>
										<div class="catch">RoboMission</div>
										<!-- end .catch -->
									</h3>
									<h4>
										<div class="catch">
											ジュニア<span class="small"
												>（中学生部門）</span
											>
										</div>
										<!-- end .catch -->
									</h4>
								</div>
								<!-- end .text -->
							</li>
							<li class="splide__slide">
								<div class="thumb">
									<img
										src="/images/WRO-Senior2025.jpg"
										alt="*"
									/>
								</div>
								<!-- end .works-thumb -->
								<div class="text">
									<div class="category">
										<p>WRO Japan 2025</p>
									</div>
									<!-- end .category -->
									<h3>
										<div class="catch">RoboMission</div>
										<!-- end .catch -->
									</h3>
									<h4>
										<div class="catch">
											シニア<span class="small"
												>（高校生部門）</span
											>
										</div>
										<!-- end .catch -->
									</h4>
								</div>
								<!-- end .text -->
							</li>
						</ul>
					</div>
					<!-- end .splide-track -->
					<div class="splide__progress">
						<div class="splide__progress__bar"></div>
						<!-- end .splide__progress__bar -->
					</div>
					<!-- end .splide__progress__bar -->
					<div class="splide__arrows"></div>
					<!-- end .splide__arrows -->
				</div>
				<!-- end .splide-wrapper -->
			</div>
			<!-- end .splide -->
		</div>
		<!-- end .container -->
	</section>
	<!-- end .works -->

	<section id="feature" class="feature">
		<div class="container">
			<div class="title">
				<div class="text">
					<h3>
						<div class="catch">
							WRO Japan 2025 公認<br />三重予選会
						</div>
						<!-- end .catch -->
					</h3>
					<h2>
						<div class="catch">
							種目：<br />RoboSports<br
							/>RoboMissionエキスパート部門<br
							/>エレメンタリー・ジュニア・シニア<br
							/>開催日：８月２日(土)　10am~5pm<br
							/>会場：三重県立熊野古道センター<br
							/>LINEで参加受付中：6月1日~24日<br /><a
								href="https://lin.ee/sW1xQhY"
								><img
									src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"
									alt="友だち追加"
									height="36"
								/></a
							><br />
						</div>
						<!-- end .catch -->
					</h2>
				</div>
				<!-- end .text -->
				<div class="thumb">
					<img src="/images/feature-title-thumb.jpg" alt="*" />
				</div>
				<!-- end .thumb -->
			</div>
			<!-- end .title -->
			<div class="box-wrapper">
				<div class="box">
					<div class="top">
						<div class="thumb">
							<div class="number"><p>01</p></div>
							<!-- end .number -->
							<img
								src="/images/feature-box-thumb01.jpg"
								alt="*"
							/>
						</div>
						<!-- end .thumb -->
						<div class="text">
							<div class="en">
								<p>参加を<br />ご検討の団体様へ</p>
							</div>
							<!-- end p -->
							<h3>
								<div class="catch">
									ロボット機材・コースシート貸し出します<br />
									【2ヶ月チャレンジ】やりましょう！<br />
								</div>
								<!-- end .catch -->
							</h3>
							<ul>
								<li>ロボット大会を知らなかった</li>
								<li>
									三重予選会がなかったから取り組んでなかった
								</li>
								<li>機材がなくて参加できない</li>
							</ul>
							<div class="geometory">
								<img
									src="/images/feature-box-geometory02.png"
									alt="*"
								/>
							</div>
							<!-- end .geometory -->
						</div>
						<!-- end .text-->
					</div>
					<!-- end .top -->
					<div class="bottom">
						<div class="sentence">
							<p>
								いざ今から予算をつけて機材を購入して練習して大会に臨むというのは難しい場合も多いでしょう。　でも大丈夫。　やる気さえあれば参加できるよう、ロボット・コースシート貸し出します。　早い者勝ちです。　”でたい！”　”やる！”
								と決めた団体さんは是非早めにお問い合わせください。　6月・7月の2ヶ月間でどこまでできるのか？　<strong
									>【2ヶ月チャレンジ】</strong
								>やりましょう！
							</p>
						</div>
						<!-- end .sentence -->
					</div>
					<!-- end .bottom -->
				</div>
				<!-- end .box -->
				<div class="box">
					<div class="top">
						<div class="thumb">
							<div class="number"><p>02</p></div>
							<!-- end .number -->
							<img
								src="/images/feature-box-thumb02.jpg"
								alt="*"
							/>
						</div>
						<!-- end .thumb -->
						<div class="text">
							<div class="en">
								<p>RoboSports<br />(ダブルテニス)</p>
							</div>
							<!-- end p -->
							<h3>
								<div class="catch">
									WROでは唯一対戦型の競技となります<br
									/>花火が打ち上がる前に<br
									/>ケリをつけましょう！
								</div>
								<!-- end .catch -->
							</h3>
							<ul>
								<li>
									余談ですが、8月2日（土）は”尾鷲の港まつり”です
								</li>
								<li>
									花火が打ち上がる前に勝ち上がって、東京への切符を手にして下さい！
								</li>
								<li>
									RoboSportsの競技規則については下記のURLよりご確認ください
								</li>
							</ul>

							<div class="geometory">
								<img
									src="/images/feature-box-geometory01.png"
									alt="*"
								/>
							</div>
							<!-- end .geometory -->
						</div>
						<!-- end .text-->
					</div>
					<!-- end .top -->
					<div class="bottom">
						<div class="sentence">
							<p>
								<a
									href="https://wro-association.org/wp-content/uploads/WRO-2025-RoboSports-Double-Tennis-General-Rules.pdf"
									>WRO 2025 国際大会 ROBOSPORTS GENERAL RULES</a
								><br />
								<a
									href="https://drive.google.com/file/d/1EJ8kAnH380oRfS4eAJhY_wDtyOq7tXh9/view"
									>WRO 2025 Japan
									決勝大会参加規約　（全競技共通）</a
								><br />
								<a
									href="https://drive.google.com/file/d/1o2bm_7wgZazvh7dDjtLpQDtwrTCEDnRS/view"
									>WRO 2025 Japan 決勝大会 RoboSports
									競技ルール</a
								><br />
								<a href="https://wro-association.org/"
									>WRO Association 公式サイト</a
								><br />
								<a href="https://www.wroj.org/"
									>WRO Japan 公式サイト</a
								><br />
							</p>
						</div>
						<!-- end .sentence -->
					</div>
					<!-- end .bottom -->
				</div>
				<!-- end .box -->
				<div class="box">
					<div class="top">
						<div class="thumb">
							<div class="number"><p>03</p></div>
							<!-- end .number -->
							<img
								src="/images/feature-box-thumb03.jpg"
								alt="*"
							/>
						</div>
						<!-- end .thumb -->
						<div class="text">
							<div class="en">
								<p>RoboMission<br />(エキスパート)</p>
							</div>
							<!-- end p -->
							<h3>
								<div class="catch">
									三重予選会では<br />エキスパート部門<br
									/>エレメンタリー・ジュニア・シニアを開催します<br
									/>
								</div>
								<!-- end .catch -->
							</h3>
							<ul>
								<li>
									2025SEASON のテーマは、"THE FUTERE OF
									ROBOTS"
								</li>
								<li>
									宇宙を舞台に未来のロボットがどんな活躍をみせるのか
								</li>
								<li>
									攻略には自由で柔軟な発想が求められます！
								</li>
								<li>Think? Think? Think!</li>
								<li>
									RoboMissionの競技規則については下記のURLよりご確認ください
								</li>
							</ul>
							<div class="geometory">
								<img
									src="/images/feature-box-geometory03.png"
									alt="*"
								/>
							</div>
							<!-- end .geometory -->
						</div>
						<!-- end .text-->
					</div>
					<!-- end .top -->
					<div class="bottom">
						<div class="sentence">
							<p>
								<a
									href="https://wro-association.org/wp-content/uploads/WRO-2025-RoboMission-General-Rules.pdf"
									>WRO 2025 国際大会　ROBOMISSION GENERAL
									RULES</a
								><br />
								<a
									href="https://drive.google.com/file/d/1EJ8kAnH380oRfS4eAJhY_wDtyOq7tXh9/view"
									>WRO 2025 Japan
									決勝大会参加規約　（全競技共通）</a
								><br />
								<a
									href="https://drive.google.com/file/d/1o2bm_7wgZazvh7dDjtLpQDtwrTCEDnRS/view"
									>WRO 2025 Japan 決勝大会 RoboMission
									競技ルール</a
								><br />
								<a
									href="https://drive.google.com/file/d/1WwjPafxD8i5nJfUD4gqejMTp5XTN0-tm/view"
									>WRO 2025 Japan 決勝大会 RoboMission
									プレゼン審査について</a
								><br />
								<a href="https://wro-association.org/"
									>WRO Association ホームページ</a
								><br />
								<a href="https://www.wroj.org/"
									>WRO Japan ホームページ</a
								><br />
							</p>
						</div>
						<!-- end .sentence -->
					</div>
					<!-- end .bottom -->
				</div>
				<!-- end .box -->
			</div>
			<!-- end .box-wrapper -->
		</div>
		<!-- end .container -->
	</section>
	<!-- end .feature -->

	<section id="merit" class="merit">
		<div class="container">
			<div class="title">
				<h3>
					<div class="catch">【スポンサー0】募集</div>
					<!-- end .catch -->
				</h3>
				<h2>
					<div class="catch">
						受けられる<br
							class="sp-disblock"
						/>恩恵とメリットはありません
					</div>
					<!-- end .catch -->
				</h2>
			</div>
			<!-- end .title -->
			<div class="box-wrapper">
				<div class="box">
					<div class="text">
						<div class="back"><p>MERIT 0</p></div>
						<!-- end .back -->
						<div class="inset">
							<div class="semi-title">
								<div class="number"><p>1/4</p></div>
								<!-- end .number -->
								<h3>
									<div class="catch">
										商業的なメリットは限りなく0に近い
									</div>
									<!-- end .catch -->
								</h3>
							</div>
							<!-- end .semi-title -->
							<div class="sentence">
								<p>
									『WRO Japan 2025 公認
									三重予選会』は初開催となります。なんの実績もありません。正直言って、どれだけの選手がエントリーしてくれるかわかりません。０チームかもしれません。100チームが参加してくれるかもしれません。ただ、私たちは０から１を始め継続し、その中で社会課題が少しでも解決する方向に向かうことに意義を見出しています。ですから、営利目的のスポンサー様には的外れですが、地域やミライの子供達の為に何か行動したい・応援したいというスポンサー様にとってはまたとないチャンスです。営利度外視で応援くださる企業・個人のスポンサー様を大募集いたします!
								</p>
							</div>
							<!-- end .sentence -->
						</div>

						<!-- end .inset -->
					</div>
					<!-- end .text -->
				</div>
				<!-- end .box -->
				<div class="box">
					<div class="text">
						<div class="back"><p>MERIT ?</p></div>
						<!-- end .back -->
						<div class="inset">
							<div class="semi-title">
								<div class="number"><p>2/4</p></div>
								<!-- end .number -->
								<h3>
									<div class="catch">
										メリットは自己満足！<br
											class="sp-disblock"
										/>”名誉スポンサー0”の称号
									</div>
									<!-- end .catch -->
								</h3>
							</div>
							<!-- end .semi-title -->
							<div class="sentence">
								<p>
									私どもは今回、私利私欲なく純粋に【MIRAIDOプロジェクト】を応援くださる企業・個人の皆様に敬意を表して
									”名誉スポンサー0”
									の称号を用意させていただきました。初回から応援してくださったスポンサー様には、このプロジェクトが継続する限り
									”名誉スポンサー0”
									としてお名前（略称・不記載可）・ロゴ（企業・団体）をホームページ等に掲載させていただき感謝の意を表し続けます。
								</p>
							</div>
							<!-- end .sentence -->
						</div>
						<!-- end .inset -->
					</div>
					<!-- end .text -->
				</div>
				<!-- end .box -->
				<div class="box">
					<div class="text">
						<div class="back"><p>TRANSPARENCY</p></div>
						<!-- end .back -->
						<div class="inset">
							<div class="semi-title">
								<div class="number"><p>3/4</p></div>
								<!-- end .number -->
								<h3>
									<div class="catch">協賛金の使途</div>
									<!-- end .catch -->
								</h3>
							</div>
							<!-- end .semi-title -->
							<div class="sentence">
								<p>
									どれだけの"名誉スポンサー0"が誕生するかわかりませんが、協力金に関しましては、次の用途に限定し使用させていただきます。
								</p>

								<li>WRO Japan 2025 公認三重予選会　運営費用</li>
								<li>
									ロボット/プログラミング教育普及の為、ロボットの購入と小・中・高校生向けのワークショップの開催
								</li>
								<li>
									お金の教育とアントレプレナーシップの養成の為、小学生〜社会人向けのワークショップの開催
								</li>
								<li>
									今後開催の【MIRAIDO
									プロジェクト】の為の活動資金
								</li>
							</div>
							<!-- end .sentence -->
						</div>
						<!-- end .inset -->
					</div>
					<!-- end .text -->
				</div>
				<!-- end .box -->
				<div class="box">
					<div class="text">
						<div class="back"><p>CSR</p></div>
						<!-- end .back -->
						<div class="inset">
							<div class="semi-title">
								<div class="number"><p>4/4</p></div>
								<!-- end .number -->
								<h3>
									<div class="catch">
										ご協力<br
											class="sp-disblock"
										/>お願いします！
									</div>
									<!-- end .catch -->
								</h3>
							</div>
							<!-- end .semi-title -->
							<div class="sentence">
								<p>
									私たちは、『商業的にはメリットはなくとも社会貢献として課題解決に向けご協賛いただけくこと』を、スポンサーシップの原点に立ち返るという意味を込めて【スポンサー0】と定義しました。
									【スポンサー0】にご賛同いただきご協力いただける企業・個人の皆様の参加を心よりお待ちしております！<br
									/>( ※ 個人3,000円〜、 法人・団体30,000円〜 )<br
									/><br />
									もちろん、ボランティアスタッフとして大会運営への協力・パフォーマンス等、個々人なりのサポートも大歓迎です。<br
									/>( ※
									大会の趣旨を逸脱するものはご遠慮願いますが...)<br
									/><br />
									詳細は、【MIRAIDO 公式ライン】よりお問い合わせください。
								</p>
							</div>
							<!-- end .sentence -->
						</div>
						<!-- end .inset -->
					</div>
					<!-- end .text -->
				</div>
				<!-- end .box -->
			</div>
			<!-- end .box-wrapperr -->
		</div>
		<!-- end .container -->
	</section>
	<!-- end .merit -->

	<section id="flow" class="flow">
		<div class="container">
			<div class="title">
				<h3>
					<div class="catch">参加方法</div>
					<!-- end .catch -->
				</h3>
				<h2>
					<div class="catch">大会参加までの流れ</div>
					<!-- end .catch -->
				</h2>
			</div>
			<!-- end .title -->
			<div class="box-wrapper">
				<div class="box">
					<div class="inner">
						<div class="number">
							<p class="sub">STEP</p>
							<p class="main">01</p>
						</div>
						<!-- end .number -->
						<div class="text">
							<h3>
								<div class="catch">お問い合わせ</div>
								<!-- end .catch -->
							</h3>
							<div class="sentence">
								<p>
									MIRAIDOプロジェクトの問い合わせは全て
									【MIRAIDO
									公式ライン】に集約させていただきます　公式ラインに友だち登録の上　お気軽にお問い合わせください
								</p>
								<a href="https://lin.ee/3hPExSP"
									><img
										src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"
										alt="友だち追加"
										height="36"
									/></a
								>
							</div>
							<!-- end .sentence -->
						</div>
						<!-- end .text -->
					</div>
					<!-- end .inner -->
				</div>
				<!-- end .box -->
				<div class="arrow">
					<img src="/images/flow-arrow.svg" alt="**" />
				</div>
				<!-- end .arrow -->
				<div class="box">
					<div class="inner">
						<div class="number">
							<p class="sub">STEP</p>
							<p class="main">02</p>
						</div>
						<!-- end .number -->
						<div class="text">
							<h3>
								<div class="catch">
									WRO Japan 2025 倫理規定の宣誓
								</div>
								<!-- end .catch -->
							</h3>
							<div class="sentence">
								<p>
									参加申込の前提として「WRO Japan 2025
									倫理規定」を確認し　参加者全員の署名・宣誓が必要となります<br
									/>※三重予選会での書面の提出はありません
								</p>
							</div>
							<!-- end .sentence -->
						</div>
						<!-- end .text -->
					</div>
					<!-- end .inner -->
				</div>
				<!-- end .box -->
				<div class="arrow">
					<img
						src="/images/flow-arrow.svg"
						alt="**"
						class="sp-disblock"
					/>
				</div>
				<!-- end .arrow -->
				<div class="box">
					<div class="inner">
						<div class="number">
							<p class="sub">STEP</p>
							<p class="main">03</p>
						</div>
						<!-- end .number -->
						<div class="text">
							<h3>
								<div class="catch">申込</div>
								<!-- end .catch -->
							</h3>
							<div class="sentence">
								<p>
									【MIRAIDO　公式ライン】の参加申込フォームより必要事項を確認・記載の上お申込みください
								</p>
							</div>
							<!-- end .sentence -->
						</div>
						<!-- end .text -->
					</div>
					<!-- end .inner -->
				</div>
				<!-- end .box -->
			</div>
			<!-- end .box-wrapper -->
		</div>
		<!-- end .container -->
	</section>
	<!-- end .flow -->

	<section id="contact" class="cta">
		<div class="container">
			<h2>
				<div class="catch">CONTACT US</div>
				<!-- end .catch -->
			</h2>
			<div class="inner">
				<div class="bg"><img src="/images/cta-bg.jpg" alt="" /></div>
				<!-- end .bg -->
				<div class="block">
					<div class="sentence">
						<p>
							お問い合わせは全て公式ラインにて承ります<br
							/>【MIRAIDO公式ライン】をお友だち登録いただきお問い合わせください
						</p>
					</div>
					<!-- end .sentence -->
					<div class="center-align">
						<img src="/images/line_miraido_hp.png" alt="" />
					</div>
				</div>
				<!-- end .block -->
			</div>
			<!-- emd .inner -->
		</div>
		<!-- end .container -->
	</section>
	<!-- end .cta -->

	<Footer isHome={true} />

	<section class="base">
		<div class="container"></div>
		<!-- end .container -->
	</section>
	<!-- end .base -->
</Layout>
