---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="プライバシーポリシー｜MIRAIDO">
    <Header isHome={false} />

    <section id="merit" class="merit">
        <div class="container">
            <div class="box-wrapper">
                <div class="box">
                    <div class="text">
                        <div class="back"><p>MIRAIDO</p></div>
                        <!-- end .back -->
                        <div class="inset">
                            <div class="semi-title">
                                <div class="number"></div>
                                <!-- end .number -->
                                <h3>
                                    <div class="catch">
                                        【プライバシーポリシー】
                                    </div>
                                    <!-- end .catch -->
                                </h3>
                            </div>
                            <!-- end .semi-title -->
                            <div class="sentence">
                                <h3>【個人情報の利用目的】</h3>

                                <p>
                                    当サイトでは、お問い合わせは全て【MIRAIDO
                                    公式ライン】にて承ります。<br />
                                    公式ライン内に於いて、お名前やメールアドレス等の個人情報を入力いただく場合がございます。<br
                                    />
                                    取得した個人情報は、お問い合わせに対する回答や必要な情報を電子メールなどでご連絡する場合に利用させていただくものであり、これらの目的以外では利用いたしません。
                                </p>

                                <h3>【広告について】</h3>

                                <p>
                                    当サイトでは、第三者配信の広告サービスは、一切利用しておりません。
                                </p>

                                <h3>【アクセス解析ツールについて】</h3>

                                <p>
                                    当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。このGoogleアナリティクスはトラフィックデータの収集のためにクッキー（Cookie）を使用しております。トラフィックデータは匿名で収集されており、個人を特定するものではありません。
                                </p>

                                <h3>【コメントについて】</h3>

                                <p>
                                    当サイトには、コメント機能は実装しておりません。
                                </p>

                                <h3>【免責事項】</h3>

                                <p>
                                    当サイトからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について一切の責任を負いません。
                                    また当サイトのコンテンツ・情報について、できる限り正確な情報を提供するように努めておりますが、正確性や安全性を保証するものではありません。情報が古くなっていることもございます。
                                    当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
                                </p>

                                <h3>【著作権について】</h3>

                                <p>
                                    当サイトで掲載している文章や画像などにつきましては、無断転載することを禁止します。
                                    当サイトは著作権や肖像権の侵害を目的としたものではありません。著作権や肖像権に関して問題がございましたら、公式ラインよりご連絡ください。迅速に対応いたします。
                                </p>

                                <h3>【リンクについて】</h3>

                                <p>
                                    当サイトは基本的にリンクフリーです。リンクを行う場合の許可や連絡は不要です。
                                    ただし、インラインフレームの使用や画像の直リンクはご遠慮ください。
                                </p>
                            </div>
                            <!-- end .sentence -->
                        </div>

                        <!-- end .inset -->
                    </div>
                    <!-- end .text -->
                </div>
                <!-- end .box -->
            </div>
            <!-- end .box-wrapperr -->
        </div>
        <!-- end .container -->
    </section>
    <!-- end .merit -->

    <Footer isHome={false} />

    <section class="base">
        <div class="container"></div>
        <!-- end .container -->
    </section>
    <!-- end .base -->
</Layout>
